.trashBar{
    position: absolute;
    top: 5vh;
    left: 0;
}

.trashCan{
    position: relative;
    top: 0;
    left: 0;
    width: 2vw;
    height: 5vh;
    min-height: 36px;
    /* max-height: 36px; */
    cursor: pointer;
}

.trashCan svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.trashCan:hover{
    background-color: rgba(245, 245, 245, 0.274);
}

.faTrashAlt{
    width: 2vw;
    height: 2vh;
    margin-top: 1.5vh;
}

