.tableLayout{
    grid-row: 2/3;
    grid-column: 2/3;
    position: relative;
    width: 90%;
    margin: auto;
    height: 90%;
    overflow-x: auto;
    overflow-y: auto;
}

.coverUp{
    position: sticky;
    top: 0;
    left: 0;
    width: 2vw;
    height: 36px;
    min-height: 36px;
    z-index: 2;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableLayout::-webkit-scrollbar, .modal .inputContainer::-webkit-scrollbar{
    width: 2px;
    height: 2px;
}

.tableLayout::-webkit-scrollbar-track, .modal .inputContainer::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

.tableLayout::-webkit-scrollbar-thumb, .modal .inputContainer::-webkit-scrollbar-thumb{
    background-color: #888;
}

.tableLayout::-webkit-scrollbar-thumb:hover, .modal .inputContainer::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}

.coverUp .filter{
    margin: auto;
    width: 2.5vh;
    color: rgb(2, 6, 26);
    height: 2.5vh;
}


@media all and (max-width: 1147px){
    .coverUp{
        /* height: 10vh; */
        width: 3vw;
        margin-right: 3%;
    }
    .trashCan{
        width: 3vw;
    }
}

@media all and (max-width: 500px){
    .trashCan svg{
        width: 3vw;
    }

}

/*@media all and (max-width: 885px){
    .tableLayout{
        height: 50vh;
        width: 90vw;
    }
} */